.contact-info-container {
  width: 90%;
  margin: 30px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);  
}

.contact-info-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
}

.contact-info-card {
  background-color: #fafcff;
  border-radius: 12px;
  margin: 20px 10px;
  padding: 35px ;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.contact-info-intro {
  text-align: center;
  margin-bottom: 25px;
  color: #555;
  font-size: 16px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.contact-item:last-child {
  margin-bottom: 0;
}

.contact-item span.status {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
  flex-shrink: 0;
}

.contact-item strong {
  min-width: 120px;
  font-weight: 500;
  color: #333;
}

.contact-item .value {
  color: #444;
  word-break: break-all;
}
.contact-info-image-container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.contact-info-image {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}